@font-face {
    font-family: sig;
    src: url("Signifier-Light.otf");
}

html{font-family: sig;}

a:link {
  color : rgb(0, 0, 0);
  text-decoration: none;
}
a:visited {
  color : black;
  text-decoration: none;
}
a:hover {
  color : rgb(115, 115, 115);
  text-decoration: none;
}
a:active {
  color : rgb(0, 0, 0)
  
}