@font-face {
    font-family: sig;
    src: url("Signifier-Light.otf");
}

html{font-family: sig;}

.parent{
    width: 90%;
    margin: 10px auto;
    display: flex;
    background: black;
    
}

a:link {
  color : rgb(255, 255, 255);
  text-decoration: none;
}
a:visited {
  color : white;
  text-decoration: none;
}
a:hover {
  color : rgb(255, 255, 255);
  text-decoration: none;
}
a:active {
  color : rgb(0, 0, 0)
  
}

.first {
    border: 0px solid rgb(255, 255, 255);
    flex:1;
    width:30%;
    box-sizing: border-box;
}

.second{
    border: 0px solid rgb(255, 255, 255);
    flex:1;
    margin: 0px 5%;
    width:30%;
    box-sizing: border-box;
}

.third{
    border: 0px solid rgb(255, 255, 255);
    flex:1;
    width:30%;
    box-sizing: border-box;
}
